*{border:1px ;
    margin:1px;}
    
    .main{
      width:70%;
      margin: 0 auto;
      background: red;
    }
    
    nav{
      display: flex;
      justify-content: space-around;
      top: 0;
      position: sticky;
      background-color: white;
     
    }
    
    .splash{width:100%}
    
    p{font-size: 2vw;}

    .small{font-size: 1vw;}
    
    .products{
      display: flex;
      justify-content: space-around;
    }
    .product2{
       display: flex;
    }
    
    .product {
      width: 30%;
    }
    
    .twotThreeImg{
        width: 60%;
    }
    
    .productImg {
      width: 100%;
    }

    
    .centered {
      width: 30%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-weight: bold;
      
    }
    
    .container {
      position: relative;
      text-align: center;
      
      font-size: 6vw;
    }

    button {
        width: 10%;

    }
    
    button {
        background-color: darkred;
        color: white;
        border: none;
        border-radius: 1px;
        cursor: pointer;
    }

    a:link {
        color: black;
        background-color: transparent;
        text-decoration: none;
        font-weight: bold;
      }

      a:visited {
        color: black;
        background-color: transparent;
        text-decoration: none;
        font-weight: bold;
      }

      .bottom{
        display: flex;
        justify-content: space-around;
        bottom: 0;
        background-color: white;
       
      }

      .Mainp {
text-align: center;

      }